<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="VALID_DIST_PROJECT_FOLDERS" value="dist;wwwroot;www;publish;website;webroot;distribution;product;app;webapp"/>
		<add key="TSC_PATH" value="C:\Users\marco\AppData\Roaming\npm"/>
		<add key="READ_ME" value="READ-ME.txt" />
		<add key="SDK_PATH" value="SDK" />
		<add key="TEMPLATES_PATH" value="project-templates\{template}.zip" />
	</appSettings>
</configuration>