<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="VALID_DIST_PROJECT_FOLDERS" value="dist;wwwroot;www;publish;website;webroot;distribution;product;app;webapp"/>
		<add key="NPM_PATH" value="C:\Users\Marcos Vinícius\AppData\Roamingx\npm"/>
		<add key="READ_ME" value="C:\Objective-UI\READ-ME.txt" />
		<add key="SDK_PATH" value="C:\Objective-UI\SDK" />
	</appSettings>
</configuration>